/* :root {
} */

* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/60degree_gray.png);
  font-family: "REM", sans-serif;
  margin: 0;
  padding: 0;

  margin-top: 30px;
}

.flex-container {
  display: flex;
  flex: auto;
}

.title {
  font-size: 50px;
  color: rgb(71, 71, 71);
  text-align: center;
}

/* 
The canvas container that handles the way the canvas looks.
Context box is required or else it will get complicated with the border
 */
#canvas-container {
  cursor: url("../images/pencil.svg"), default;

  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.8);

  margin: 0 auto;
  width: 640px;
  max-width: 640px;
  min-width: 640px;
  min-height: 640px;
}

/* 
Changes the size of the individual divs.
*/
#canvas-container > div {
  background-color: white;

  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  margin-left: auto;
  padding: 10px;
}

.menu > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-button {
  font-family: "REM", sans-serif;
  font-size: 15px;
  border-radius: 20px;
  background-color: white;

  padding: 10px;
  width: 120px;
  height: 50px;
}

.menu-button:hover {
  background-color: rgb(71, 71, 71);
  color: white;
}

#colorPalette {
  display: flex;
  flex-wrap: wrap;

  width: 150px;
}

#colorPalette > div {
  height: 50px;
  width: 50px;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;

  left: 0;
  bottom: 0;
  width: 100%;
}

.footer img {
  height: 20px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}
